DATABASE_URL="postgresql://root:root@localhost:5432/focuzevent?schema=public"
JWT_SECRET="coloque seu segredo aqui"
PORT=3000

EMAIL_USUARIO=seuemail #não use aspasss nem espaços
EMAIL_SENHA_APP=suasenhaapp #não use aspasss nem espaços

STRIPE_SECRET_KEY="sua key da stripe"
STRIPE_WEBHOOK_SECRET="key gerada para webhook"